{% extends 'login.html'%}

{% block content %}
{% if error %}
       <h2>{{ error }}</h2>
      {% endif %}
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Date Start</th> 
    <th>Date End</th>
    <th>Teacher</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for course in courses%}
  <tr>
    	<td>{{ course.name}}</td>
    	<td>{{ course.start_date}}</td>
    	<td>{{ course.end_date}}</td>
    	<td>{{ course.teacher}}</td>
    	<td><a href="">Update</a></td>
      <td><a href="">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

