{% block content %}
    <form method="post">
    	{% csrf_token %}
    	{% if error %}
    		{{ error }}
    	{% endif %}
    	<div>
    		<label>Name:</label>
    		<input type="text" value="{{teacher.name}}" name="name">
    		<br>
    		<label>Surname:</label>
    		<input type="text" value="{{teacher.surname}}" name="surname">
    		<br>
    		<label>D.N.I:</label>
    		<input type="number" value="{{teacher.dni}}" name="dni">
    		<br>
    		<label>Home:</label>
            <input type="number" value="{{teacher.home}}" name="home">
    		<br>
    		<label>Degree:</label>
    		<input type="text" value="{{teacher.degree}}" name="degree">
    	</div>
    	<input type="submit" value="Update">
    </form>
{% endblock %}

