{% extends 'login.html'%}

{% block content %}
    <form method="post">
    	{% csrf_token %}
    	{% if error %}
    		{{ error }}
    	{% endif %}
    	<div>
    		<h2>Desea eliminar {{ teacher.name }}, {{ teacher.surname}}?</h2>
    	</div>
    	<input type="submit" value="Delete">
    </form>
{% endblock %}

