{% block content %}
    <form method="post">
    	{% csrf_token %}
    	{% if error %}
    		{{ error }}
    	{% endif %}
    	<div>
    		<label>Name:</label>
    		<input type="text" name="name">
    		<br>
    		<label>Surname:</label>
    		<input type="text" name="surname">
    		<br>
    		<label>D.N.I:</label>
    		<input type="number" name="dni">
    		<br>
    		<label>Home:</label>
    		<input type="number" value="2" name="home">
    		<br>
    		<label>Degree:</label>
    		<input type="text" name="degree">
    	</div>
    	<input type="submit" value="Save">
    </form>
{% endblock %}

