{% extends 'login.html'%}

{% block content %}
{% if error %}
       <h2>{{ error }}</h2>
      {% endif %}
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Surname</th> 
    <th>DNI</th>
    <th>Home</th>
    <th>Dgree</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for teacher in teachers%}
  <tr>
    	<td>{{ teacher.name}}</td>
    	<td>{{ teacher.surname}}</td>
    	<td>{{ teacher.dni}}</td>
    	<td>{{ teacher.home}}</td>
    	<td>{{ teacher.degree}}</td>
    	<td><a href="{% url 'person:teacher-update' teacher.pk %}">Update</a></td>
      <td><a href="{% url 'person:teacher-delete' teacher.pk %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

